<!DOCTYPE html>
<html>
  <head>
    <title>Bloogstrap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-light bg-light">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="<%= posts_path %>">Статьи</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Контакты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Статистика</a>
          </li>           
        </ul>
        <%= link_to t('posts.new.title'), new_post_path, class: 'btn btn-secondary float-right' %> 
      </nav>
    </div>

    <div class="container main">

      <div class="row">
        <div class="col-auto">
          <% flash.each do |name, message|%>
            <div class="alert alert-<%= name%>">
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>

      <div class='row'>
        <div class='col-8'
          <%= yield %>
        </div>
        <div class="col-4">
          <% tag_cloud(Tag.counts, %w{tag1 tag2 tag3 tag4 tag5}) do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), class: css_class %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
